:root {
    --primary: #9eb7e5;
    --secondary: #648DE5;
    --light: #FCF6DA;
    --dark: #304C89;
    --accent: #FDF2B9;
}

/* link */
#link {
    color: var(--dark);
}

#link:hover {
    color: var(--accent);
}

/* end link */

/* card */
#card {
    background: var(--light);
    text-align: left;
}

#card-link {
    color: var(--dark);
}

#card-link:hover {
    color: var(--secondary);
}

/* end card */

/* form  */
#conctactForm {
    text-align: left;
}

#submit {
    background: var(--dark);
    color: var(--light);
    border-color: var(--accent);
}

#submit:hover {
    background: var(--secondary);
}

#nameError,
#emailError,
#messageError {
    color: var(--accent);
}

#alert-success {
    background: var(--light);
    border-color: var(--accent);
    color: var(--dark);
}

/* end form */

/* page color and size*/
#header {
    background: var(--dark);
    color: var(--accent)
}

#about,
#portfolio,
#contact,
#resume,
#resumeList,
#nav-active,
#footer {
    background: var(--primary);
    color: var(--dark);

}

#resume,
#contact, 
#portfolio {
    min-height: 75vh;
}

/* end page color and size */

/* navigation */
#nav-tabs-group,
#nav-active {
    border-bottom: 0;
    border-color: var(--light);
    font-weight: 650;

}

#nav-inactive {
    color: var(--dark);
    background: var(--secondary);
    border-color: var(--accent);
    border-bottom-color: var(--light);
}

#nav-inactive:hover {
    color: var(--light);
}
/* end navigation */

/* skills list */
#list-container{
    text-align: left;
}